<div id="content-page">
    <div  id="form" class="row">
        <div class="small-9 small-centered columns">
            <div id="content-view">

              <div class="title-page">
                  <h3>Te ayudamos a elegir</h3>
                <h5 class="subheader">Crea una cotizaci贸n nosotros nos encargamos del resto</h5>
              </div> {{! end title page}}

              <div class="row form-layout">
                  <div class="large-8 columns">

                <div class="row step">
                    <div class="large-12 columns">
                        <h5><span>1</span>Tipo de servicio</h5>
                    </div>
                </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Seleccionar operaci贸n a realizar</label>
                            <ul class="radiobuttons type">
                                {{#link-to 'importacion' tagName='li' addClass=''}}Importaci贸n{{/link-to}}
                                {{#link-to 'exportacion' tagName='li' addClass=''}}Exportaci贸n{{/link-to}}
                                {{#link-to 'domestica' tagName='li' addClass=''}}Carga domestica{{/link-to}}
                                {{#link-to 'contenedor' tagName='li' addClass=''}}Contenedor vacio{{/link-to}}
                            </ul>
                        </div>
                    </div>

                {{outlet}}

                  </div> {{!end form content}}
                  <div class="large-4 columns">
                      <div class="why">
                          <h5>Beneficios de cotizar</h5>
                          <ul>
                              <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados</li>
                              <li><i class="fi-check"></i>Nosotros te avisamos cada ves que tengas una oferta.</li>
                              <li><i class="fi-check"></i>Aumenta el volumen de carga y retornos vacios.</li>
                          </ul>
                      </div>
                  </div> {{! end why}}
              </div> {{! end form-layout}}

            </div>{{! end #content-view}}
        </div> {{! end centered}}
    </div> {{! end #form}}
</div> {{! end content page }}

